@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Permanent Marker", cursive;
}


/* Styling for the countdown card */
.countdown-card {
  width: 70px;
  height: 100px;
  background-color: #1a202c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  opacity: 80%;
}

/* Styling for the countdown value */
.countdown-value {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* Styling for the countdown label */
.countdown-label {
  font-size: 12px;
  color: #ccc;
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    color: black;
}
li {
    list-style-type: none;
}
ul li a {
    list-style-type: none;
    color:black;
}
.container {
    margin: 20px;
    padding: 10px;
}
.container::after{
    content: '';
    display: block;
    margin-top: 15px;
    height: 2px;
    width: 100%;
    background-color: aquamarine;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
